.match-container-left {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
}

.match-container-right {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}
